.btn {
    background-color: #343a40;
    color: white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.btn.disabled {
    background-color: white;
    color: #343a40;
}